<form method="post" action="{{ path('movies_delete', {'id': movie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ movie.id) }}">
    <button style="margin-top:10px;" class="btn btn-danger">Supprimer</button>
</form>
